.Main {
  text-align: center;
  margin-top: 41px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Main-Logo {
  height: 30vmin;
  border-radius: 10px;
  border: 4px solid #e65b11;
}
#loginNavButtonContainer{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.loginNavButton{
  width: 40%;
  border: 4px solid #e65b11;
  border-radius: 20px;
}
