#oldPhotos {
  display: inline-block;
  background-color: black;
  text-align: center;
  margin-right: 29.5%;
}
.indivPhotos {
  display: inline-block;
  color: black;
}
.oldPhotosTitle {
  background-color: white;
  font-weight: bold;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 1;
  margin: 0px;
  padding-bottom: 2px;
  border-right: 1px solid;
  border-bottom: .25px solid;
}
.oldPhotosImage {
  margin: 0px;
  height: 172px;
}